@model HospitalProject.Models.Doctor

<div>
    <h4>Doctor Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Doctor ID</dt>
        <dd class="col-sm-9">@Model.DoctorId</dd>

        <dt class="col-sm-3">Doctor Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">Doctor Surname</dt>
        <dd class="col-sm-9">@Model.Surname</dd>

        <dt class="col-sm-3">Doctor Working Hours</dt>
        <dd class="col-sm-9">@Model.Shift</dd>
    </dl>
</div>
